# fly.toml app configuration file generated for image-blur-wild-moon-6332 on 2026-02-03T19:57:25+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'image-blur-wild-moon-6332'
primary_region = 'nrt'

[build]
  dockerfile = 'Dockerfile.fly'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
